.background_container{
    z-index: -1;
    position: absolute;
    top: 0vh;
    background-color:#E5E5E5;
    height: max(100%,100vh);
    width: 100%;
    overflow: hidden;
}

.rotate{
    transform: rotate(-30deg);
    opacity: 0.45;
    position: absolute;
    right: -10rem;
    top: 12rem;
}

.design{
    background: #f8f2f2;
    width: 120vw;
    height: 50vh;
}


.upper{
    display: flex;
}

.upper_item{
    width: 50%;
    height: 1rem;
    background-color:#b5c4ea;
}

.lower{
    display: flex;
    flex-direction: row-reverse;
    margin-top: 0.5rem;
}

.lower_item{
    width: 50%;
    height: 0.5rem;
    background-color: #3766E8;
}