body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.form_container{
  display: flex;
  justify-content: center;
}

.form{
  background-color: #FFFFFF;
  z-index: 1;
}

.terms{
  text-align: center;
  margin-top: 3rem;
}

.terms>p{
  display: inline;
}


